<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
    bootstrap="Tests/bootstrap.php"
    cacheDirectory=".phpunit.cache"
    colors="true"
    stopOnFailure="false"
    failOnWarning="true"
    failOnRisky="true"
>
    <testsuites>
        <testsuite name="unit">
            <directory>Tests/Unit</directory>
        </testsuite>
        <testsuite name="integration">
            <directory>Tests/Integration</directory>
        </testsuite>
    </testsuites>

    <source>
        <include>
            <directory>src</directory>
        </include>
        <exclude>
            <directory>vendor</directory>
        </exclude>
    </source>

    <coverage>
        <report>
            <clover outputFile="coverage.xml"/>
            <html outputDirectory="coverage"/>
            <text outputFile="php://stdout" showUncoveredFiles="false"/>
        </report>
    </coverage>

    <php>
        <env name="WP_AGENT_ENV" value="testing"/>
        <env name="WP_AGENT_JWT_SECRET" value="test-secret-key-for-unit-tests-only"/>
    </php>
</phpunit>
